body {
  margin: 0;
}

.background {
  min-height: 200px;
  background-color: rgb(115, 157, 53);
}

.main-content {
  position: relative; 
  top: -100px;
  width: 400px;
  height: 250px; 
  margin: auto; 
  border: 3px solid lightgrey;
  background-color: white;
}