.article {
  width: 500px;
  padding: 20px;
  background-color: #f5f4f17e;
}

.line {
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid burlywood;
}

h2 {
  display: inline-block;
  width: 150px;
  margin: 0 0 0 10px;
  vertical-align: top;
}