body {
  margin: 0;
}

.header, footer {
  padding: 15px;
  background: rgb(58, 55, 55);
  color: white;
}

.header h1 {
  margin: 0 auto;
  width: 440px;
}

main {
  width: 400px;
  min-height: 1000px;
  padding: 20px;
  margin: 10px auto;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.social-media {
  position: sticky;
  float: left;
  top: 0;
  width: 70px;
  padding: 10px;
}
