.item{
  position: absolute;
  left: 45%;
  top: 50px;
  transform-origin: 45% 100%;
}

.card-1 {
  transform: rotate(-15deg);
}

.card-3 {
  transform: rotate(15deg);
}

.item:hover {
  z-index: 3;
}