span {
  font-size: 20px;
  font-family: Oswald, sans-serif;
}

.font-1 {
  background-color: rgb(227, 227, 151);
  padding: 5px;
}
.font-2 {
  background-color: rgb(227, 227, 151);
  padding: 5px;
}
.font-3 {
  background-color: rgb(227, 227, 151);
  padding: 5px;
}
.font-4 {
  background-color: rgb(227, 227, 151);
  padding: 5px;
}
.font-5 {
  background-color: rgb(227, 227, 151);
  padding: 5px;
}
